@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

.container{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 75%;
    height: 100vh;
}

.nav-menu{
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem 1rem;
}

.nav-items{
    padding: 0.5rem 1rem;
    list-style: none;
    margin-right: 1rem;
}

.nav-items a{
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.title-container{
    position: absolute;
    width: 50%;
    height: auto;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
}

.title{
    color: rgb(231, 231, 231);
    padding: 0 2rem;
}

.title h1{
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.title p{
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: rgb(177, 177, 177);
    width: 65%;
    margin: 1rem 0;
}

.btn{
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    border: none;
    border-radius: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(0, 114, 255);
    color: white;
}

/*** making responsive ****/
@media only screen and (max-width: 1085px){
    .nav-menu{
        padding: 0.5rem;
    }

    .title h1{
        font-size: 1.8rem;
    }    

    .title p{
        width: 100%;
        font-size: 0.9rem;
        margin: 0.5rem 0;
    }

    .btn{
        padding: 0.5rem 1rem;
        margin-top: 1.7rem;
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 750px){
    .title-container{
        width: 55%;
    }

    .title{
        width: 100%;
    }
}

@media only screen and (max-width: 900px){
    .nav-menu{
        padding: 0rem;
    }

    .nav-items{
        font-size: 0.9rem;
    }

    .title-container{
        width: 60%;
    }

    .title h1{
        color: white;
    }

    .title p{
        color: rgb(205, 205, 205);
    }
}

@media only screen and (max-width: 846px){
    .nav-items{
        margin-right: 0.5rem;
    }
}

@media only screen and (max-width: 790px){
    .nav-items{
        margin-right: 0rem;
    }

    .title-container{
        width: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .title p{
        color: rgb(248, 248, 248);
    }
}

@media only screen and (max-width: 700px){
    .nav-menu{
        width: 100%;
    }

    .title-container{
        width: 100%;
    }
}

@media only scree and (max-width: 630px){
    .nav-menu{
         width: 100%;
    }

    .title-container{
        width: 100%;
    }
}

@media only screen and (max-width: 544px){
    .nav-menu{
        width: 100%;
   }

   .title-container{
       width: 100%;
   }
}

@media only screen and (max-width: 472px){
    .nav-menu{
        width: 100%;
   }

   .title-container{
       width: 100%;
   }
}

body {
  width: 50vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
canvas {
  position: absolute;
  top:0;
  left:0;
  z-index:-99;
}

.right {
  text-align: right;
}

/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */*,
::after,::before{box-sizing:border-box}
:root{-moz-tab-size:4;tab-size:4}
html{line-height:1.15;-webkit-text-size-adjust:100%}
body{margin:0}body{font-family:system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'}
hr{height:0;color:inherit}
abbr[title]{text-decoration:underline dotted}
b,strong{font-weight:bolder}
code,kbd,pre,samp{font-family:ui-monospace,SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;font-size:1em}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-.25em}
sup{top:-.5em}
table{text-indent:0;border-color:inherit}
button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}
button,select{text-transform:none}
[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}
::-moz-focus-inner{border-style:none;padding:0}
:-moz-focusring{outline:1px dotted ButtonText}
:-moz-ui-invalid{box-shadow:none}legend{padding:0}
progress{vertical-align:baseline}
::-webkit-inner-spin-button,::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
summary{display:list-item}
body,html{height:100%}
body{font-family:monospace;background-color:#08000f;color:#fefefe}
header{display:flex;padding:.5em 1em}
kbd{display:inline-block;margin-right:1em;border:1px solid #b4b4b4;border-radius:3px;padding:2px 4px;font-size:.85em;font-weight:700;line-height:1;white-space:nowrap;background-color:#eee;color:#333;box-shadow:0 1px 1px rgba(0,0,0,.2),0 2px 0 0 rgba(255,255,255,.7) inset}
.commands{margin-left:auto;text-align:right}
.command{display:flex;align-items:center;margin:.2em 0}
.command__name{margin-left:auto}footer{position:absolute;bottom:0;left:0;width:100%;padding:.5em 1em;text-align:right}

